header {
    background-color: #f7f7f7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  
  .brandname-contacto h1 {
    font-size: 30px;
    margin: 0;
    padding: 0;
  }
  
  .contacto {
    margin: 0;
    padding: 0;
  }
  
  .contacto ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .contacto ul li {
    margin-left: 20px;
  }
  
  .contacto ul li a {
    color: #333;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
  }
  
  .contacto ul li a:hover {
    color: #ff7600;
  }

.contacto {
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
  }
  
  .contacto-container {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 150px;
    max-width: 700px;
    width: 100%;
  }
  
  .contacto-container h2 {
    text-align: center;
    color: #484848;
    margin-bottom: 30px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .form-group label {
    color: #484848;
    margin-bottom: 10px;
  }
  
  .form-group input,
  .form-group textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #F6F6F6;
    font-size: 16px;
    color: #484848;
  }
  
  .form-group textarea {
    height: 150px;
    resize: none;
  }
  
  button[type="submit"] {
    background-color: #FCCE00;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #FFC107;
  }
  
  .redes-sociales {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  
  .redes-sociales a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #FCCE00;
    color: #FFFFFF;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    transition: all 0.3s ease;
  }
  
  .redes-sociales a:hover {
    transform: scale(1.1);
  }
  

  /*////////////////////////////////MEDIAS//////////////////////////////////////*/

  @media screen and (max-width: 768px) {
    .brandname-contacto h1 {
      font-size: 24px;
    }
    
    .contacto ul li a {
      font-size: 16px;
    }
  }
