html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
.inicio {
    min-height: 100%;
  }
  
.frase {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  

.brandname-inicio{
    color: white;
    font-weight: bold;
}

ul{
    list-style: none;
}

nav a:hover{
  color: yellow;
}

header h1 {
    font-size: 4vw;
    max-width: 100%;
} 


header {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    font-size: 3rem;
    color: white;
  }
  
  .frase {
    background-color: rgba(255, 255, 255, 0.189);
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
  }
  
  .frase p {
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
  }
  
  /* Cambiar imagen de fondo cada 2 segundos */
  .inicio {
    -webkit-animation: cambio-imagen 4s infinite;
    animation: cambio-imagen 8s infinite;
  }
  
  @-webkit-keyframes cambio-imagen {
    0% {
      background-image: url('https://images.unsplash.com/photo-1571380401583-72ca84994796?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8aXBob25lJTIwNGt8ZW58MHx8MHx8&w=1000&q=80');
    }
    50% {
      background-image: url('https://cdn.shopify.com/s/files/1/0259/0484/0781/files/como-crear-fondos-de-pantalla-para-celular.jpg?v=1635232815');
    }
    100% {
      background-image: url('https://www.xtrafondos.com/descargar.php?id=3921&resolucion=1920x1080');
    }
  }
  
  @keyframes cambio-imagen {
    0% {
      background-image: url('https://images.unsplash.com/photo-1571380401583-72ca84994796?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8aXBob25lJTIwNGt8ZW58MHx8MHx8&w=1000&q=80');
    }
    50% {
      background-image: url('https://cdn.shopify.com/s/files/1/0259/0484/0781/files/como-crear-fondos-de-pantalla-para-celular.jpg?v=1635232815');
    }
    100% {
      background-image: url('https://www.xtrafondos.com/descargar.php?id=3921&resolucion=1920x1080');
    }
  }

  /*//////////////////////////IMAGENES BACKGROUND//////////////////////////////////////////////////*/

  .inicio {
    background-image: url('imagen1.jpg');
    background-size: cover;
    background-position: center;
    /*...*/
  }
  
  .inicio:nth-of-type(2) {
    background-image: url('imagen2.jpg');
    background-size: cover;
    background-position: center;
    /*...*/
  }
  
  .inicio:nth-of-type(3) {
    background-image: url('imagen3.jpg');
    background-size: cover;
    background-position: center;
    /*...*/
  }
  


  /* Alinear el nav y los elementos li a la derecha */
   header {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .brandname-inicio {
    display: flex;
    max-width: 100%;
    margin: 100px auto;
    text-align: center;
  }
  
  .inicio ul {
    display: flex;
    list-style: none;
    position: absolute;
    right: 5%;
    top: 120px;
    margin: 0;
    padding: 0;
    max-width: 100%;
  }
  
  .inicio ul li {
    margin-left: 20px;
  }
  
  .inicio ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
    
  /* Estilos para el enlace */
  .inicio ul li a :hover {
    color: gray;
    font-weight: bold;
    text-decoration: none;
  }
  
 /*//////////////////////////MEDIAS QUERYS//////////////////////////////////////////////////*/

 @media only screen and (max-width: 787px){
    .brandname-inicio{
        font-size: 50PX;
    }

    .inicio ul{
        font-size: 15px;
        top: 70px;
    }
 }

 @media only screen and (max-width: 456px){
    .brandname-inicio{
        font-size: 30PX;
    }

    .inicio ul{
        font-size: 10px;
        top: 70px;
    }
 }
